CIISA.RetailOnLine/CIISA.RetailOnLine.Android/Web References/webServiceSROL_consultation/VendedorConsulta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/">
      <s:element name="test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemCIISA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_codCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codAgent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codRute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
            <s:element minOccurs="0" maxOccurs="1" name="pcedulaCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="existeClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="existeClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaClientePadronNacional">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
            <s:element minOccurs="0" maxOccurs="1" name="pcedulaCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaClientePadronNacionalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaClientePadronNacionalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaInventarioDocumento_prueba">
        <s:complexType />
      </s:element>
      <s:element name="consultaInventarioDocumento_pruebaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaInventarioDocumento_pruebaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaInventarioDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaInventarioDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaInventarioDocumentoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoSistemaCerradoPorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pfechaToma">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="estadoSistemaCerradoPorFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="estadoSistemaCerradoPorFechaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaBitaRecarga">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaBitaRecargaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaBitaRecargaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="existeClienteSoapIn">
    <wsdl:part name="parameters" element="tns:existeCliente" />
  </wsdl:message>
  <wsdl:message name="existeClienteSoapOut">
    <wsdl:part name="parameters" element="tns:existeClienteResponse" />
  </wsdl:message>
  <wsdl:message name="consultaClientePadronNacionalSoapIn">
    <wsdl:part name="parameters" element="tns:consultaClientePadronNacional" />
  </wsdl:message>
  <wsdl:message name="consultaClientePadronNacionalSoapOut">
    <wsdl:part name="parameters" element="tns:consultaClientePadronNacionalResponse" />
  </wsdl:message>
  <wsdl:message name="consultaInventarioDocumento_pruebaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaInventarioDocumento_prueba" />
  </wsdl:message>
  <wsdl:message name="consultaInventarioDocumento_pruebaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaInventarioDocumento_pruebaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaInventarioDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaInventarioDocumento" />
  </wsdl:message>
  <wsdl:message name="consultaInventarioDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaInventarioDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="estadoSistemaCerradoPorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:estadoSistemaCerradoPorFecha" />
  </wsdl:message>
  <wsdl:message name="estadoSistemaCerradoPorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:estadoSistemaCerradoPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaBitaRecargaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaBitaRecarga" />
  </wsdl:message>
  <wsdl:message name="consultaBitaRecargaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaBitaRecargaResponse" />
  </wsdl:message>
  <wsdl:portType name="VendedorConsultaSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input message="tns:testConnectionSoapIn" />
      <wsdl:output message="tns:testConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="existeCliente">
      <wsdl:input message="tns:existeClienteSoapIn" />
      <wsdl:output message="tns:existeClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaClientePadronNacional">
      <wsdl:input message="tns:consultaClientePadronNacionalSoapIn" />
      <wsdl:output message="tns:consultaClientePadronNacionalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento_prueba">
      <wsdl:input message="tns:consultaInventarioDocumento_pruebaSoapIn" />
      <wsdl:output message="tns:consultaInventarioDocumento_pruebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento">
      <wsdl:input message="tns:consultaInventarioDocumentoSoapIn" />
      <wsdl:output message="tns:consultaInventarioDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="estadoSistemaCerradoPorFecha">
      <wsdl:input message="tns:estadoSistemaCerradoPorFechaSoapIn" />
      <wsdl:output message="tns:estadoSistemaCerradoPorFechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaBitaRecarga">
      <wsdl:input message="tns:consultaBitaRecargaSoapIn" />
      <wsdl:output message="tns:consultaBitaRecargaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendedorConsultaSoap" type="tns:VendedorConsultaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existeCliente">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/existeCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaClientePadronNacional">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaClientePadronNacional" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento_prueba">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaInventarioDocumento_prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaInventarioDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoSistemaCerradoPorFecha">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/estadoSistemaCerradoPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaBitaRecarga">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaBitaRecarga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VendedorConsultaSoap12" type="tns:VendedorConsultaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="existeCliente">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/existeCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaClientePadronNacional">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaClientePadronNacional" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento_prueba">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaInventarioDocumento_prueba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaInventarioDocumento">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaInventarioDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoSistemaCerradoPorFecha">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/estadoSistemaCerradoPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaBitaRecarga">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/consultaBitaRecarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendedorConsulta">
    <wsdl:port name="VendedorConsultaSoap" binding="tns:VendedorConsultaSoap">
      <soap:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorConsulta.asmx" />
    </wsdl:port>
    <wsdl:port name="VendedorConsultaSoap12" binding="tns:VendedorConsultaSoap12">
      <soap12:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorConsulta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>