CIISA.RetailOnLine/CIISA.RetailOnLine.Android/Web References/webServiceSROL_rute/VendedorRuta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/">
      <s:element name="test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemCIISA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_codCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codAgent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codRute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aperturaNocturna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aperturaNocturnaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aperturaNocturnaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aperturaDiurna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="aperturaDiurnaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aperturaDiurnaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarEstadoSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarEstadoSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarEstadoSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarInventario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarInventarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearEstadoSistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearEstadoSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearEstadoSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarEstadoSistema_Prueba">
        <s:complexType />
      </s:element>
      <s:element name="eliminarEstadoSistema_PruebaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarEstadoSistema_PruebaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarRutaEInventario_prueba">
        <s:complexType />
      </s:element>
      <s:element name="generarRutaEInventario_pruebaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarRutaEInventario_pruebaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarRutaEInventario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarRutaEInventarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generarRutaEInventarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="aperturaNocturnaSoapIn">
    <wsdl:part name="parameters" element="tns:aperturaNocturna" />
  </wsdl:message>
  <wsdl:message name="aperturaNocturnaSoapOut">
    <wsdl:part name="parameters" element="tns:aperturaNocturnaResponse" />
  </wsdl:message>
  <wsdl:message name="aperturaDiurnaSoapIn">
    <wsdl:part name="parameters" element="tns:aperturaDiurna" />
  </wsdl:message>
  <wsdl:message name="aperturaDiurnaSoapOut">
    <wsdl:part name="parameters" element="tns:aperturaDiurnaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarEstadoSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarEstadoSistema" />
  </wsdl:message>
  <wsdl:message name="eliminarEstadoSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarEstadoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarInventario" />
  </wsdl:message>
  <wsdl:message name="eliminarInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarInventarioResponse" />
  </wsdl:message>
  <wsdl:message name="crearEstadoSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:crearEstadoSistema" />
  </wsdl:message>
  <wsdl:message name="crearEstadoSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:crearEstadoSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarEstadoSistema_PruebaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarEstadoSistema_Prueba" />
  </wsdl:message>
  <wsdl:message name="eliminarEstadoSistema_PruebaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarEstadoSistema_PruebaResponse" />
  </wsdl:message>
  <wsdl:message name="generarRutaEInventario_pruebaSoapIn">
    <wsdl:part name="parameters" element="tns:generarRutaEInventario_prueba" />
  </wsdl:message>
  <wsdl:message name="generarRutaEInventario_pruebaSoapOut">
    <wsdl:part name="parameters" element="tns:generarRutaEInventario_pruebaResponse" />
  </wsdl:message>
  <wsdl:message name="generarRutaEInventarioSoapIn">
    <wsdl:part name="parameters" element="tns:generarRutaEInventario" />
  </wsdl:message>
  <wsdl:message name="generarRutaEInventarioSoapOut">
    <wsdl:part name="parameters" element="tns:generarRutaEInventarioResponse" />
  </wsdl:message>
  <wsdl:portType name="VendedorRutaSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input message="tns:testConnectionSoapIn" />
      <wsdl:output message="tns:testConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aperturaNocturna">
      <wsdl:input message="tns:aperturaNocturnaSoapIn" />
      <wsdl:output message="tns:aperturaNocturnaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="aperturaDiurna">
      <wsdl:input message="tns:aperturaDiurnaSoapIn" />
      <wsdl:output message="tns:aperturaDiurnaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema">
      <wsdl:input message="tns:eliminarEstadoSistemaSoapIn" />
      <wsdl:output message="tns:eliminarEstadoSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarInventario">
      <wsdl:input message="tns:eliminarInventarioSoapIn" />
      <wsdl:output message="tns:eliminarInventarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearEstadoSistema">
      <wsdl:input message="tns:crearEstadoSistemaSoapIn" />
      <wsdl:output message="tns:crearEstadoSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema_Prueba">
      <wsdl:input message="tns:eliminarEstadoSistema_PruebaSoapIn" />
      <wsdl:output message="tns:eliminarEstadoSistema_PruebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario_prueba">
      <wsdl:input message="tns:generarRutaEInventario_pruebaSoapIn" />
      <wsdl:output message="tns:generarRutaEInventario_pruebaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario">
      <wsdl:input message="tns:generarRutaEInventarioSoapIn" />
      <wsdl:output message="tns:generarRutaEInventarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendedorRutaSoap" type="tns:VendedorRutaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aperturaNocturna">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/aperturaNocturna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aperturaDiurna">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/aperturaDiurna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarEstadoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarInventario">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearEstadoSistema">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/crearEstadoSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema_Prueba">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarEstadoSistema_Prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario_prueba">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/generarRutaEInventario_prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/generarRutaEInventario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VendedorRutaSoap12" type="tns:VendedorRutaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aperturaNocturna">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/aperturaNocturna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aperturaDiurna">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/aperturaDiurna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarEstadoSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarInventario">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearEstadoSistema">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/crearEstadoSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstadoSistema_Prueba">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/eliminarEstadoSistema_Prueba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario_prueba">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/generarRutaEInventario_prueba" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarRutaEInventario">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/generarRutaEInventario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendedorRuta">
    <wsdl:port name="VendedorRutaSoap" binding="tns:VendedorRutaSoap">
      <soap:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorRuta.asmx" />
    </wsdl:port>
    <wsdl:port name="VendedorRutaSoap12" binding="tns:VendedorRutaSoap12">
      <soap12:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorRuta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>