CIISA.RetailOnLine/CIISA.RetailOnLine.Android/Web References/webServiceSROL_download/VendedorDescarga.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/">
      <s:element name="test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemCIISA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_codCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codAgent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codRute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testConnectionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="descargaCierreMaquina">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
            <s:element minOccurs="1" maxOccurs="1" name="pestado" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pfecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="descargaCierreMaquinaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descargaCierreMaquinaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testSoapIn">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="testSoapOut">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:testConnection" />
  </wsdl:message>
  <wsdl:message name="testConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:testConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="descargaCierreMaquinaSoapIn">
    <wsdl:part name="parameters" element="tns:descargaCierreMaquina" />
  </wsdl:message>
  <wsdl:message name="descargaCierreMaquinaSoapOut">
    <wsdl:part name="parameters" element="tns:descargaCierreMaquinaResponse" />
  </wsdl:message>
  <wsdl:portType name="VendedorDescargaSoap">
    <wsdl:operation name="test">
      <wsdl:input message="tns:testSoapIn" />
      <wsdl:output message="tns:testSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input message="tns:testConnectionSoapIn" />
      <wsdl:output message="tns:testConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="descargaCierreMaquina">
      <wsdl:input message="tns:descargaCierreMaquinaSoapIn" />
      <wsdl:output message="tns:descargaCierreMaquinaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendedorDescargaSoap" type="tns:VendedorDescargaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="descargaCierreMaquina">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/descargaCierreMaquina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VendedorDescargaSoap12" type="tns:VendedorDescargaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/testConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="descargaCierreMaquina">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/descargaCierreMaquina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendedorDescarga">
    <wsdl:port name="VendedorDescargaSoap" binding="tns:VendedorDescargaSoap">
      <soap:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorDescarga.asmx" />
    </wsdl:port>
    <wsdl:port name="VendedorDescargaSoap12" binding="tns:VendedorDescargaSoap12">
      <soap12:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorDescarga.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>