CIISA.RetailOnLine/CIISA.RetailOnLine.Android/Web References/webServiceSROL_totalDownload/VendedorEnvioTotal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/">
      <s:element name="TotalSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdatosSROL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptipoRutero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ptomaFisica" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
            <s:element minOccurs="1" maxOccurs="1" name="pwriteDataTables" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SystemCIISA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_codCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codAgent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_codRute" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_initials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TotalSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalSendResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalSend_Automatic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdatosSROL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptipoRutero" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ptomaFisica" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
            <s:element minOccurs="1" maxOccurs="1" name="pwriteDataTables" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalSend_AutomaticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalSend_AutomaticResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalSendOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdatosSROL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ptipoRutero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psystemCIISA" type="tns:SystemCIISA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TotalSendOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TotalSendOldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TotalSendSoapIn">
    <wsdl:part name="parameters" element="tns:TotalSend" />
  </wsdl:message>
  <wsdl:message name="TotalSendSoapOut">
    <wsdl:part name="parameters" element="tns:TotalSendResponse" />
  </wsdl:message>
  <wsdl:message name="TotalSend_AutomaticSoapIn">
    <wsdl:part name="parameters" element="tns:TotalSend_Automatic" />
  </wsdl:message>
  <wsdl:message name="TotalSend_AutomaticSoapOut">
    <wsdl:part name="parameters" element="tns:TotalSend_AutomaticResponse" />
  </wsdl:message>
  <wsdl:message name="TotalSendOldSoapIn">
    <wsdl:part name="parameters" element="tns:TotalSendOld" />
  </wsdl:message>
  <wsdl:message name="TotalSendOldSoapOut">
    <wsdl:part name="parameters" element="tns:TotalSendOldResponse" />
  </wsdl:message>
  <wsdl:portType name="VendedorEnvioTotalSoap">
    <wsdl:operation name="TotalSend">
      <wsdl:input message="tns:TotalSendSoapIn" />
      <wsdl:output message="tns:TotalSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TotalSend_Automatic">
      <wsdl:input message="tns:TotalSend_AutomaticSoapIn" />
      <wsdl:output message="tns:TotalSend_AutomaticSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TotalSendOld">
      <wsdl:input message="tns:TotalSendOldSoapIn" />
      <wsdl:output message="tns:TotalSendOldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendedorEnvioTotalSoap" type="tns:VendedorEnvioTotalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalSend">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSend_Automatic">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSend_Automatic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSendOld">
      <soap:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSendOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VendedorEnvioTotalSoap12" type="tns:VendedorEnvioTotalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalSend">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSend_Automatic">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSend_Automatic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TotalSendOld">
      <soap12:operation soapAction="http://mobile.crciisa.com/WS-SROL-V3CAT-PROD/TotalSendOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendedorEnvioTotal">
    <wsdl:port name="VendedorEnvioTotalSoap" binding="tns:VendedorEnvioTotalSoap">
      <soap:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorEnvioTotal.asmx" />
    </wsdl:port>
    <wsdl:port name="VendedorEnvioTotalSoap12" binding="tns:VendedorEnvioTotalSoap12">
      <soap12:address location="http://mobile.crciisa.com/ws-v27042017-srol-prod/VendedorEnvioTotal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>